<html>
<head>
  <title></title>
  <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
  <link rel="stylesheet" type="text/css" href="main.css">
  <script src='main.js'></script>
</head>
<body>
  <table class="racer_table">
    <tr id="player1_strip">
      <td class="active"></td>
    </tr>
    <tr id="player2_strip">
      <td class="active"></td>
    </tr>
  </table>

<div class="cloudy">
</div>


<div id="score">
  <table id='scoreboard'>
    <th id='first'><FONT COLOR="#FF0000">P</FONT><FONT COLOR="#FFC000">l</FONT><FONT COLOR="#FFff00">a</FONT><FONT COLOR="#3Fff00">y</FONT><FONT COLOR="#00ff00">e</FONT><FONT COLOR="#00ffC0">r</FONT><FONT COLOR="#00ffff"> </FONT><FONT COLOR="#00C0ff">1</FONT></th>
    <th id='second'><FONT COLOR="#FF0000">P</FONT><FONT COLOR="#FFC000">l</FONT><FONT COLOR="#FFff00">a</FONT><FONT COLOR="#3Fff00">y</FONT><FONT COLOR="#00ff00">e</FONT><FONT COLOR="#00ffC0">r</FONT><FONT COLOR="#00ffff"> </FONT><FONT COLOR="#00C0ff">2</FONT></th>
    <tr>
      <td id='p1score'>0</td>
      <td id='p2score'>0</td>
    </tr>
  </table>
</div>


<div class='bigger-clouds'>
</div>

</body>
</html>